/SimpleIfElse.class
/SwitchWochentage.class
/SwitchKontrollstruktur.class
/GeradeUngerade.class
/GroessteZahl1.class
/GroessteZahl2.class
/Notenbewertung.class
/PositivNegativ.class
/Geldautomat.class
