/ComparatorListProgramm.class
/ComparatorTreeMapProgramm.class
/Student.class
/StudentComparatorAlles.class
/StudentComparatorAlter.class
/StudentComparatorEmail.class
/StudentComparatorNachname.class
/StudentComparatorVorname.class
