/Datentypen2.class
/DatentypenAufgaben.class
/Eingabe.class
/Eingabe2.class
/HelloWorld.class
/IncrementDecrement.class
/DatentypenAufgaben2.class
/charZeichenketten.class
/inkrementDekrement.class
/Runden1.class
/Runden2.class
